<!DOCTYPE html>
<html>
  <body>
    <h2>Cadastrar Novo Manual</h2>
    <form method="POST">
      <input
        type="text"
        name="titulo"
        placeholder="Título do Manual"
        required
      /><br /><br />
      <input
        type="text"
        name="url_gif"
        placeholder="Link do GIF (Giphy/Imgur)"
      /><br /><br />
      <input
        type="text"
        name="url_pdf"
        placeholder="Link do PDF (Google Drive/Dropbox)"
      /><br /><br />
      <button type="submit">Salvar Manual</button>
    </form>
  </body>
</html>
